#transform{
    width: 100px;
    height: 100px;
    background: rgb(59, 28, 233);
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;

}
#transform:hover {
    width: 100px; 
    height: 100px;
    margin-left: 200px;
    border-radius: 40%;
    background: rgb(116, 31, 31);
}
#transform:hover {
    width: 100px; 
    height: 100px;
    margin-left: 200px;
    border-radius: 50%;
    background: rgb(235, 11, 11);
}